@import url('initialisations.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    display: flex;
    background-color: var(--c-background);
}

.global {
    margin: 0 auto;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

header form.search {
    margin: auto;
    display: flex;
    width: 100%;
    gap: 30px;
}

header form.search .div_input {
    position: relative;
}

header form.search .div_input .barre {
    width: 500px;
    height: 55px;
    background: #FFFFFF;
    padding: 20px;
    padding-left: 50px;
    box-shadow: 5px 5px 20px rgba(199, 199, 199, 0.4);
    border-radius: 10px;
    outline: none;
    border: none;
}
header form.search .div_input .barre:focus {
    outline: solid 2px var(--c-blue);
}


header form.search .div_input .icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: var(--c-grey);
}

header form.search .div_input .btn-search {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: var(--c-blue);
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 25px;
}


header form.search .btn-search:hover {
    background-color: var(--c-dark-blue);
    transition: all 0.3s ease;
}

/* header .profil {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 5px;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;
}

header .profil .message {
    width: 30px;
    height: 30px;
    position: relative;
}

header .profil .message svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

header .profil .settings {
    width: 30px;
    height: 30px;
    position: relative;
}

header .profil .settings svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
} */




.global .dossiers {
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.global .dossiers .titre {
    padding: 1rem;
}

.dossiers .cards {
    display: flex;
    width: 100%;
    max-width: 1600px;
    flex-wrap: wrap;
    gap: 20px;
}

.dossiers .cards a {
    color: #1A1B2D;
}

.card {
    width: 280px;
    height: 180px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(153, 153, 153, 0.4);
    transition: all 300ms ease-in-out;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    position: relative;
    color: #1A1B2D;
    display: flex;
}

.card p {
    margin: auto;
}

.card svg.icon-folder {
    margin-top: 15px;
    margin-left: 20px;
}

.card h2{
    position: absolute;
    top: 77px;
    left: 20px;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: var(--c-dark-blue);
    transition: all 300ms ease-in-out;
}

.card h5.prof {
    position: absolute;
    top: 115px;
    left: 20px;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #999999;
}

.card span.star {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 10px;
    color: #FFBB55;
}

/* .card span.menu {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 8px;
    color: #999999;
    transition: all 300ms ease-in-out;
} */

.card h5.count {
    position: absolute;
    bottom: 5px;
    right: 13px;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #999999;
    text-align: right;
}

.card.add {
    display: flex;
    border: 3px dashed #3246D3;
    background: none;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    color: #3246D3;
    box-shadow: none;
    flex-grow: 1;
    flex-shrink: 0;
}

.card:hover {
    box-shadow: none;
    background: #3246D3;
    color: #fff;
    transition: all 300ms ease-in-out;
}

.card:hover h2 {
    color: #fff;
    transition: all 300ms ease-in-out;
}






.global .ajouts {
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.global .ajouts .titre {
    padding: 1rem;
}

.ajouts .liste-ajouts {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    gap: 15px;
}

.ajouts .liste-ajouts .ligne {
    margin: auto;
    display: flex;
    width: 100%;
    min-height: 55px;
    justify-content: flex-start;
    background-color: white;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    box-shadow: 5px 5px 20px rgba(153, 153, 153, 0.4);
}

.ajouts .liste-ajouts .ligne .icone {
    display: block;
    width: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ajouts .liste-ajouts .ligne .icone img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.ajouts .liste-ajouts .ligne .titre {
    margin: auto auto auto 0;
}

.ajouts .liste-ajouts .ligne .taille {
    margin: auto;
    display: flex;
}

.ajouts .liste-ajouts .ligne .date {
    margin: auto;
}

.ajouts .liste-ajouts .ligne .boutons {
    margin: auto 0 auto auto;
    display: flex;
    gap: 10px;
}

.ajouts .liste-ajouts .ligne .boutons a {
    width: max-content;
    padding: 10px;
    background: #3246D3;
    box-shadow: 5px 5px 20px rgba(50, 70, 211, 0.4);
    border-radius: 6px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajouts .liste-ajouts .ligne .boutons a.open_in {
    background: var(--c-dark-blue);
    box-shadow: 5px 5px 20px rgba(0, 13, 109, 0.432);
}

.ajouts .liste-ajouts .ligne .boutons a .dl_tel {
    display: none;
}

.ajouts .liste-ajouts .ligne .boutons a:hover {
    box-shadow: none;
    transition: 0.2s ease;
}




.custom-submit {
    display: inline-block;
    cursor: pointer;
    background-color: blue; /* Couleur de fond bleue */
    padding: 10px; /* Espace intérieur autour du bouton */
    border-radius: 5px; /* Coins arrondis */
    color: white; /* Couleur du texte */
    font-weight: bold; /* Texte en gras */
    font-size: 14px; /* Taille du texte */
    text-align: center; /* Centrage du texte */
    position: relative; /* Nécessaire pour placer le libellé SVG correctement */
}

.custom-submit input[type="submit"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}







@media screen and (max-width:1040px) {
    .ajouts .liste-ajouts .ligne {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .ajouts .liste-ajouts .ligne .date {
        display: none;
    }
}

@media screen and (max-width:730px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width:605px) {
    .ajouts .liste-ajouts .ligne .taille {
        display: none;
    }
}


@media screen and (max-width:750px) {
    .ajouts .liste-ajouts .ligne .boutons a .dl {
        display: none;
    }

    .ajouts .liste-ajouts .ligne .boutons a .dl_tel {
        display: block;
    }
}